<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite ver1" thread-count="2" parallel="tests"
	verbose="3">

	<test name="Chrome browser Sanity" parallel="methods"
		thread-count="5">
		<parameter name="browser" value="Chrome">
		</parameter>
		<classes>
			<class name="com.MyTest.LoginTest" />
		</classes>
	</test>
	<test name="Firefox browser Sanity" parallel="methods"
		thread-count="5">
		<parameter name="browser" value="Firefox">
		</parameter>
		<classes>
			<class name="com.MyTest.LoginTest" />
		</classes>
	</test>
</suite>
